.sectionContainer {
    .sectionItem {
        height: 77px;
        width: 300px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.15);
        margin-bottom: 10px;
        position: relative;
        animation: shrink 0.5s;
        animation-fill-mode: forwards;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(10px) brightness(50%);
        }

        img {
            width: 20%;
            position: absolute;
            top: 50%;
            left: 15%;
            border-radius: 100%;
            transform: translate(-50%, -50%);
        }

        a[id="full"] {
            position: absolute;
            top: 40%;
            left: 78%;
            text-align: left;
            width: 100%;
            transform: translate(-50%, -50%);

            span {
                font-size: 12px;
                opacity: .78
            }
        }

        span[id="position"] {
            position: absolute;
            top: 60%;
            opacity: .9;
            font-size: 13px;
            left: 78%;
            text-align: left;
            width: 100%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            animation: grow 1s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes grow {
    from {
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
    to {
        border: 1px solid rgb(255, 255, 255);
    }
}

@keyframes shrink {
    from {
        border: 1px solid #fff;
    }
    to {
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
}
